{% extends "myapp/base.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ object.author.name }}</a>
            <small class="text-muted">{{ object.publishdate }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ object.title }}</a></h2>
        <!-- Display the book image -->
        {% if object.img_url %}
          <img src="{{ object.img_url }}" alt="{{ object.title }} Cover" style="max-width: 300px; height: auto; border: 1px solid #ccc;">

        {% else %}
            <p>No cover image available.</p>
        {% endif %}
        <div class="reviews">
            <h3>Reviews:</h3>
            {% for review in reviews %}
                <p>{{ review.rating }} Stars</p>
            {% empty %}
                <p>No reviews yet.</p>
            {% endfor %}
        </div>
    </div>
</article>
{% endblock %}
