{% extends "myapp/base.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ object.author.name }}</a>
        <small class="text-muted">{{ object.publishdate }}</small>
      </div>
      <h2><a class="article-title" href="#">{{ object.title }}</a></h2>
      <p class="article-content">{{ book.review }}</p>
      <div class="reviews">
        <h3>Reviews:</h3>
        {% for review in object.reviews.all %}
          <p>{{ review.rating }} Stars</p>
          <small class="text-muted">Reviewed on {{ review.review_date }}</small>
        {% empty %}
          <p>No reviews yet.</p>
        {% endfor %}
      </div>
    </div>  
  </article>
{% endblock %}