{% extends "myapp/base.html" %}
{% block content %}
{%for book in books%}
<article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ book.author.name }}</a>
        <small class="text-muted">{{ book.publishdate }}</small>
      </div>
      <h2><a class="article-title" href="{% url 'book-detail' book.book_id %}">{{ book.title }}</a></h2>
      <p class="article-content">{{ book.review }}</p>
      <div class="reviews">
        <h3>Reviews:</h3>
        {% for review in book.reviews.all %}
          <p>{{ review.rating }}</p>
          <small class="text-muted">Reviewed on {{ review.review_date }}</small>
        {% empty %}
          <p>No reviews yet.</p>
        {% endfor %}
      </div>
    </div>  
  </article>
{%endfor%}
{% endblock %}